body {
  margin: 0;
  height: 100vh;
}

.display-screen {
  height: 100%;
}

.seller-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-image: url("profile-background.jpg");
}
